<div>
  <h1>Products</h1>
  <button mat-raised-button color="primary" routerLink="/shopping-cart" [disabled]="!isCustomer">CART</button>
  <button mat-raised-button color="primary" routerLink="/add" [disabled]="!isAdmin">ADD</button>
</div>
<br>
<table mat-table [dataSource]="allProducts$">
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let product"> {{product.category}} </td>
  </ng-container>
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let product"> {{product.price}} RON</td>
  </ng-container>
  <ng-container matColumnDef="detailButton">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let product"> <button id="detail-btn" mat-raised-button color="accent" routerLink="/detail/{{product.id}}"> DETAILS</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay">
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay">
  <!--<tr id="head-row">
    <td>Category</td>
    <td>Product Name</td>
    <td>Price</td>
    <td></td>
  </tr>
  <tr *ngFor="let product of (allProducts$ | async)">
    <td>{{product.category}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}} RON</td>
    <td id="detail-btn"> <button routerLink="/detail/{{product.id}}"> Details</button></td>
  </tr>-->
</table>
