.desc{
  color: grey;
  text-align: right;
}

td {
  padding: 12px 20px 12px;
  font-size: 18px;
}

h2, button{
  margin-left: 25px;
}

#add-btn, #edit-btn{
  padding: 15px 35px;
  color: white;
  font-weight: bold;
  border-radius: 17%;
  font-size: 18px;
}

#delete-btn{
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 17%;
  font-size: 18px;
}
