<div *ngIf="product">
<h2>Product: {{product.name}}</h2>
<table>
  <tr>
    <td class="desc">Name</td>
    <td>{{product.name}}</td>
  </tr>
  <tr>
    <td class="desc">Category</td>
    <td>{{product.category}}</td>
  </tr>
  <tr>
    <td class="desc">Price</td>
    <td>{{product.price}} RON</td>
  </tr>
  <tr>
    <td class="desc">Description</td>
    <td>{{product.description}}</td>
  </tr>
</table>
<button id="add-btn" (click) = addToCart()>ADD</button>
<button id="delete-btn" (click) = deleteProduct()>DELETE</button>
</div>
