<div>
  <h1 *ngIf="product">Edit: {{product.name}}</h1>
  <form [formGroup]="editForm">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput id="category" type="text" formControlName="category">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput id="image" type="text" formControlName="image">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput id="price" type="text" formControlName="price">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput id="description" type="text" formControlName="description">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!editForm.valid">SAVE</button>
    <button mat-raised-button (click)="setForm()">CANCEL</button>
  </form>
</div>
